<div class="main">
    <div class="section vertical">
        <div>
            <h2 class="heading">Welcome to User Management App</h2>
            <p class="content">
            This application allows you to manage user information efficiently.
            You can add, edit, and delete users as per your requirement. 
            Navigate to the user form section to start managing users.
          </p>
        </div>
    </div>
    <div class="section">
        <div>
            <div class="user-icon">
                <mat-icon>people_outline</mat-icon>
            </div>
            <button mat-button class="btn" routerLink="/user/user-list">View Users</button>
        </div>
    </div>
</div>